.AboutUsContainer {
    background-color: #F9F9F9;
    margin-top: 4rem;
    padding-top: 2rem;
    padding: 1rem;

    &__Title {
      color: #777777;
      font-family: "Archivo", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 2rem;
    padding-left: 1rem;
        
    }

    &__Subtitle {
        font-size: 3em;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    &__Text {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        font-size: 1em;
        color: #777777;
        padding: 1rem;
    }

    &__Button {
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        color: white;
        background-color: #BEAD8E;
        border: none;
        cursor: pointer;
        width: 66%;
        height: 4rem;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }
}