@import "mixin.scss";

.FacilitiesContainer {
    display: block;
    padding-bottom: 1rem;


   

    &__Wrapper {
      padding-bottom: 3rem;
    }

 &__Subtitle {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.175rem;
    color: #777777;
    padding: 2rem;
    margin-top: 2rem;
    
 }  
 
 &__Title {
    font-size: 3em;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    text-align: center;
 }

 &__HighText {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 1.5rem;
 }

 &__Text {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #777777;
    padding-left: 1.5rem;
    padding-right: 3rem;
    
 }
 &__icon {
   transform: translateX(52%) translateY(159%);
}

&__number {
   @include number;
   color: #2222220A;
   transform: translateX(143%) translateY(-34%);
}

 &__ImgContainer {
    display: inline-block;

    

    
 }

}
.swiper--facilities {
   margin: 1rem;
}