.MainSection {
margin-top: 2rem;
padding-top: 2rem;
  
    &__ArticleLuxury {
        background-color: #333333 !important;
        &__Subtitle {
            font-size: 1em;
            color: white;
            padding: 1rem;
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            padding-top: 5rem;
            text-transform: uppercase;
            letter-spacing: 0.175rem;
            
        }

        &__Title {
            font-size: 3em;
            font-family: "Old Standard TT", serif;
            font-weight: 400;
            padding-bottom: 2rem;
            margin-right: 1rem;
            color: white;
            padding-left: 1rem;
            
        }

        &__Container {
            display: flex;
            justify-content: center;
            background-color: white;
            width: 38%;
            text-align: center;
            padding-bottom: 1rem;
            padding-top: 1rem;
            transform: translateX(140%);
            padding-right: 1rem;

            &__Home {
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                font-size: 1em;
                padding-right: 0.25rem;
            }

            &__About {
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                font-size: 1em;
                color: #BEAD8E;
                padding-left: 0.25rem;
            }
            
        }
        
        
        
    }
    &__PresentVideo {
       

        &__Video {
            
            margin: 1rem;
            padding-top: 3rem;
            padding-left: 1rem;
        }

        &__Text {
        padding: 1rem;
        font-size: 1.9em;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        padding-bottom: 2rem;
        text-align: center;
        }
    }

    &__IconsContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        &__Item {
            flex: 1 1 calc(30%);
            align-items: center;
            flex-direction: column;
            padding: 0.7rem;
            justify-content: center;
            margin: 1rem;


            &__Image {
                padding-left: 1rem;
            }
            &__Text {
                font-size: 0.7em;
                color: black;
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.175rem;
                padding-top: 1rem;

                &--active {
                    color: white;

                }
            }

            &--active {
                background-color: #BEAD8E;
            }
            
        }
    }

    &__ImageContainer {
            width: 18.4rem;
            height: 14.5rem;
            margin: 0 auto;
            display: block;
            padding-bottom: 2rem;

        &__Image {
            width: 100%;
            padding-bottom: 2rem;
        }
    }
}