.Main {
    background-color: #333333;
   padding: 2rem;
   display: block;

   &__Container {
    margin-top: 4rem;

    &__SubTitle {
        font-size: 1em;
        color: white;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        padding-top: 2rem;
        
    }

    &__Title {
        font-size: 3em;
        color: white;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        padding-top: 2rem;
    }

    &__ButtonTour {
        padding: 1rem;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        color: white;
        background-color: #BEAD8E;
        border: none;
        cursor: pointer;
        width: 63%;
        height: 4rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
    }

    &__ButtonMore {
        padding: 1rem;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        font-size: 1em;
        color: white;
        background-color: #333333;
        border: 2px solid rgba(255, 255, 255, 0.33);
        cursor: pointer;
        width: 63%;
        height: 4rem;
        margin-bottom: 3rem;
        margin-right: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
    }
   }

   &__Form {
    background-color: #222222;
    padding: 2rem;

    &__Text {
        font-family: "Roboto", sans-serif;
        font-size: 1em;
        color: white;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__input {
        border: none;
        border-bottom: 2px solid #BEAD8E;
        width: 80%;
        outline: none;
        margin-left: 0.5rem;
        background-color: #222222;
        color: grey;
    }

    &__button {
        padding: 1rem;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        color: white;
        background-color: #BEAD8E;
        border: none;
        cursor: pointer;
        width: 76%;
        height: 4rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.175rem;
    }
   }
}