@import "mixin.scss";

.MainSection {
margin-top: 2rem;
padding-top: 2rem;
  
    &__ArticleLuxury {
        background-color: #333333 !important;
        &__Subtitle {
            @include subtitle;
            color: white;
            padding: 1rem;
            padding-top: 5rem;
            
        }

        &__Title {
            @include title;
            padding-bottom: 2rem;
            margin-right: 1rem;
            color: white;
            padding-left: 1rem;
            
        }

        &__Container {
            display: flex;
            justify-content: center;
            background-color: white;
            width: 38%;
            text-align: center;
            padding-bottom: 1rem;
            padding-top: 1rem;
            transform: translateX(140%);
            padding-right: 1rem;

            &__Home {
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                font-size: 1em;
                padding-right: 0.25rem;
                padding-left: 1rem;
            }

            &__About {
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                font-size: 1em;
                color: #BEAD8E;
                padding-left: 0.25rem;
            }
            
        }
        
        
        
    }
    &__PresentVideo {
       

        &__Video {
            
            margin: 1rem;
            padding-top: 3rem;
            padding-left: 1rem;
        }

        &__Text {
        padding: 1rem;
        font-size: 1.9em;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        padding-bottom: 2rem;
        text-align: center;
        }
    }

    &__IconsContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        &__Item {
            flex: 1 1 calc(30%);
            align-items: center;
            flex-direction: column;
            padding: 0.7rem;
            justify-content: center;
            margin: 1rem;


            &__Image {
                padding-left: 1rem;
            }
            &__Text {
                font-size: 0.7em;
                color: black;
                font-family: "Archivo", sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.175rem;
                padding-top: 1rem;

                &--active {
                    color: white;

                }
            }

            &--active {
                background-color: #BEAD8E;
            }
            
        }
    }

    &__ImageContainer {
            width: 18.4rem;
            height: 14.5rem;
            margin: 0 auto;
            display: block;
            padding-bottom: 2rem;

        &__Image {
            width: 100%;
            padding-bottom: 2rem;
        }
    }
}
.Restaurant {
    margin: 3rem 2rem;

    &__Subtitle {
        @include subtitle;
        color:#777777;

        
        
    }

    &__Title {
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 2.5em;
        padding-top: 1.5rem;
    }

    &__Text {
        @include SimpleText;
        padding-top: 2rem;

    }

    &__Button {
        @include BeigeButton;
        width: 70%;
        height: 3.6rem;
        text-align: center;
        margin-top: 1.5rem;
        
    }
}

.Facilities {
    background-color: #222222;
    padding: 3rem 1.5rem;
    
    &__Subtitle {
        @include subtitle;
        color: white;
        text-align: center;
    }

    &__Title {
        @include title;
        color: white;
        text-align: center;
    }

    &__ContainerSlider {
        background-color: #292929;
        padding: 3rem 1.5rem;
        
    }

    &__HighText {
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 2em;
        color: white;
        padding-top: 1rem;
    }

    &__Text {
        font-family: "Archivo", sans-serif;
        font-weight: 400;
        color: white;
        padding-top: 1rem;
        

    }
    &__ContainerImages {
        display: flex;
        justify-content: space-around;
    }
}

.Counter {
    margin: 3rem 1rem;

    &__Subtitle {
        @include subtitle;
        padding-top: 2rem;
    }
    &__Title {
        @include title;
        padding-top: 2rem;
    }
    &__Container {
        padding-top: 4rem;
        width: 100%;
        
        
        &__container {
            display: inline-flex;
            padding: 2rem;
            
        }

        &__img {
            width: 5rem;
            height: 5rem;
            padding-right: 1.5rem;
        }
        &__HardText {
            font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 4em;
        padding-right: 1.5rem;
        }

        &__Text {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #777777;
            
        }

        &__Arrow {
            width: 3rem;
            height: 3rem;
            margin: 0 auto;
        }
    }
}