@mixin subtitle {
    font-size: 1em;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.175rem;
  }

@mixin title {
    font-size: 3em;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
}  

@mixin SimpleText {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #777777;
}

@mixin BeigeButton {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: white;
    background-color: #BEAD8E;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.175rem;
}

@mixin ContainerDuple {
            display: flex;
            justify-content: center;
            background-color: white;
            text-align: center;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-right: 1rem;
            
}
@mixin Home {
    
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 1em;
        padding-right: 0.25rem;
        padding-left: 1rem;
    
}

@mixin Secondary {
    font-family: "Archivo", sans-serif;
                font-weight: 700;
                font-size: 1em;
                color: #BEAD8E;
                padding-left: 0.25rem;
}

@mixin number {
    font-family: 'Archivo';
    font-size: 7.5em;
    font-weight: 700;
}

@mixin roboto {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
}

@mixin price {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    color: #BEAD8E;
    padding: 1rem;
}

@mixin link {
    text-decoration: none;
    color: inherit;
}