.NavarContainer {
    background-color: #FFFFFF;
  display: block;
  box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29);
  width: 100%;
  padding: 1rem;
  top: 0;
  position: fixed;
  z-index: 999;

  &__FirstPart {
    display: inline-block;
    &__MenuIcon {
        padding-left: 1rem;
        margin-right: 1.5rem;
        cursor: pointer;

        &--active {
          content: url("../assets/navbarAssets/1\(1\).png");
        }
    }

    &__H {
        display: inline-block;
        box-shadow: 0rem 0.875rem 1.5rem 0rem rgba(139, 139, 139, 0.25);
        padding: 0.75rem;
        margin-right: 0.5rem;
        
    }

  }

  &__SecondPart {
    display: inline-block;
    padding-left:5rem;

    &__MenuDesplegable {
        display: none;
        &--active{
          display: block;
          
          
          
          
          
        }

        &__Contenedor {
          display: inline-block;
          list-style: none;
          font-family: "Archivo", sans-serif;
          font-weight: 600;
          
        }

        &__list {
          margin: 1rem;
          padding-top: 1rem;
        }
    }

    &__MenuIcon {
        display: none;
    }

    &__Search {
        padding-left: 1rem;
    }

  }
}