.Rooms {
    
    background-color:#333333;

    &__Main {
        padding-top: 2rem;
        
        padding: 5rem 1rem;

        &__Subtitle {
            @include subtitle;
            padding-top: 3rem;
            color: #ffff;
        }

        &__Title {
            @include title;
            padding-top: 1rem;
            color: #ffff;
        }

        &__Container {
            @include ContainerDuple;
            
            &__Home {
                @include Home;
            }
            &__Rooms {
                @include Secondary;
            }

        }
    }

    
}

.RoomsSwiper {
    padding: 3rem 1rem;

    &__Card {
        

        &__Title {
            font-family: "Old Standard TT", serif;
            font-weight: 400;
            font-size: 1.8em;
            text-align: center;
        }

        &__Text {
            font-family: "Archivo", sans-serif;
            font-weight: 400;
            color: #777777;
            font-size: 1em;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-top: 1rem;
        }

        
    }
    &__ContainerImages {
        display:  flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;

        &__image {
            
            width: 22.5rem;
            height: 14rem;
        }

        &__wifi {
            transform: translateY(-30%);
        }
    }

   &__ContainerButton {
    display: flex;
    padding: 2rem;
    justify-content: center;

    &__Text {
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 1em;
        color: #BEAD8E;
        padding: 1rem;
        

    }
    &__Button{
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 1em;
        color: #BDBDBD;
        cursor: pointer;
        padding: 1rem;
        

    }
   }
}
