@import "mixin.scss";

.Luxury {
    margin: 3rem 1rem;
    &__Subtitle {
        @include subtitle;
        color: #777777;
        padding-bottom: 0.5rem;
    }

    &__Title {
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 2.8rem;
        padding-bottom: 2rem;

    }

    &__Text {
        @include roboto;
        color: #777777;
        margin: 0.5rem;

    }

    &__ContainerText {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;

        &__Price {
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            color: #BEAD8E;
            font-size: 3em;
        }
        
        &__Night {
            font-family: "Archivo", sans-serif;
            font-weight: 700;
            color: #BEAD8E;
            font-size: 1em;
            padding-top: 1rem;

        }
    }
    &__Button {
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    &__Form {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__Title {
            font-family: "Archivo", sans-serif;
             font-weight: 700;
             font-size: 1em;
             padding-bottom: 1rem;
             padding-top: 1rem;
        }

        &__Label {
            
        }

        &__Input {
            padding: 1.5rem 1rem;
            border:none;
            background-color: #F8F8F8;
        }

        &__Button {
            @include BeigeButton;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            margin-top: 1rem;
        }

    }

}

.Amenities {
    margin: 3rem 1rem;
    &__Title {
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-size: 1.9em;
        padding-top: 2rem;
    }

    &__List {
        display: inline-block;
        margin: 3rem 1rem;
        list-style: none;
        

        &__Item {
            font-family: "Roboto", sans-serif;
            font-size: 1em;
            color: #777777;
            line-height: 2rem;
            
        }

        &__Image {
            padding-right: 0.6rem;
        }
    }
}
