.swiper {
   
    margin: 1rem;
}

.swiper-slide {
    margin: 1rem;
    position: relative !important;
}

.swiper-button-prev, .swiper-button-next {
    width: 3em;
    height: 3em;
    color: #FFF !important;
    background-color: #BDAC8D !important;
    display: inline-block;
    cursor: pointer;

    &--menu {
        margin: 0 auto !important;
        position: absolute !important;
        top: 95% !important;
        
        
        
        
    }
}

.swiper-button-disabled {
    background-color: #FFF !important;
    color: #111 !important;
    
}

.swiper-pagination{
    background-color: #BEAD8E !important;
   
}
