.swiper {
   
    margin: 1rem;

    
}
.swiper-wrapper {
    width: 100%;
    padding-bottom: 10em;
}


.swiper-button-prev, .swiper-button-next {
    width: 1em;
    height: 1em;
    color: #FFF !important;
    background-color: #BDAC8D !important;
    display: inline-block;
    cursor: pointer;

    &--menu {
        transform: translateY(420%);
        
        
    }
    
    
}

.swiper-button-prev {
    &--menu {
        transform: translate(931%, 420%);
    }
}
.swiper-button-disabled {
    background-color: #FFF !important;
    color: #111 !important;
    
}

.swiper-pagination{
    background-color: #BEAD8E !important;
   
}


.swiper-slide--roomcounter {
    width: 20.93rem;
    height: 14.37rem;
}

